<div class="home-outer-box">
	<div class="container-fluid">
		<div class="row home-header">
			<div class="col text-center">
				Welcome to Goibhniu
			</div>
		</div>
		<div class="row home-row">
			<a class="home-button link-fermtrack link-fermtrack-hover" routerLink="/ferm">
				<div class="col text-center ">
					<h1><i class="fa fa-tags"></i></h1>
					<h3>FermTrack</h3>
				</div>
			</a>
			<a class="home-button link-brewmon link-brewmon-hover" routerLink="/">
				<div class="col text-center">
					<h1><i class="fa fa-sliders"></i></h1>
					<h3>BrewMon</h3>
				</div>
			</a>
		</div>
	</div>
</div>