<div *ngIf="_nav.visible" class="masthead"> 
    <div class="masthead-page"><i class="fa fa-tags" aria-hidden="true"></i> FermTrack</div>
    <nav class="navbar navbar-inverse">
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item text-center">
        	<a class="nav-link link-fermtrack-hover" routerLinkActive="navbar-active" routerLink="/ferm">
        		<h2><i class="fa fa-tags" aria-hidden="true"></i></h2>
        		<h3>FermTrack</h3>
        	</a>
        </li>
        <li class="nav-item text-center">
        	<a class="nav-link link-brewmon-hover" routerLinkActive="navbar-active" routerLink="/">
        		<h2><i class="fa fa-sliders" aria-hidden="true"></i></h2>
        		<h3>BrewMon</h3>
        	</a>
        </li>
      </ul>
    </nav>
</div>